.polygon-1-51-icon {
  position: absolute;
  top: 3792.6px;
  left: 319px;
  border-radius: var(--br-6xl);
  width: 1132.6px;
  height: 1155.3px;
  object-fit: contain;
  display: none;
  opacity: 0.26;
}
.frame-child,
.frame-item {
  position: absolute;
  top: 227px;
  left: 1101px;
  width: 414px;
  height: 669px;
}
.frame-item {
  top: 476.2px;
  left: 785.5px;
  width: 735px;
  height: 419.3px;
}
.frame-inner,
.vector-icon {
  position: absolute;
  top: 57px;
  left: 1007px;
  width: 377px;
  height: 845px;
}
.vector-icon {
  top: 331px;
  left: 80.5px;
  width: 238.1px;
  height: 561px;
}
.div {
  position: absolute;
  top: 931px;
  left: 809px;
  font-size: var(--font-size-sm);
}
.frame-child1,
.frame-child2 {
  position: absolute;
  top: 236px;
  left: 1169px;
  width: 414px;
  height: 669px;
}
.frame-child2 {
  top: 485.2px;
  left: 853.5px;
  width: 735px;
  height: 419.3px;
}
.frame-child3,
.frame-child4 {
  position: absolute;
  top: 66px;
  left: 1075px;
  width: 377px;
  height: 845px;
}
.frame-child4 {
  top: 340px;
  left: 148.5px;
  width: 238.1px;
  height: 561px;
}
.frame-child5,
.rectangle-div {
  position: absolute;
  top: 132px;
  border-radius: var(--br-21xl);
  height: 48px;
}
.rectangle-div {
  left: 1334px;
  background: linear-gradient(90deg, #8176af, #c0b7e8);
  width: 155px;
}
.frame-child5 {
  left: 1142px;
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 154px;
}
.membership {
  position: absolute;
  top: 149px;
  left: 1372px;
  color: var(--color-darkslategray-100);
}
.about,
.how-to,
.services {
  position: absolute;
  top: 147px;
  left: 615px;
}
.how-to,
.services {
  left: 703px;
}
.how-to {
  top: 146px;
  left: 817px;
}
.contact-us,
.frame-child6 {
  position: absolute;
  top: 149px;
  left: 1176px;
}
.frame-child6 {
  top: 304px;
  left: 965px;
  border-radius: var(--br-81xl) var(--br-81xl) var(--br-81xl) 240px;
  background-color: rgba(0, 0, 0, 0.13);
  width: 524px;
  height: 455px;
}
.assignments-on-us {
  position: absolute;
  top: 412px;
  left: 217px;
  font-size: 46px;
  background: linear-gradient(269deg, #c0b7e8, #8176af);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.leave-your {
  position: absolute;
  top: 352px;
  left: 217px;
  font-size: 40px;
}
.experience-the-synergy {
  margin-block-start: 0;
  margin-block-end: 6px;
}
.experience-the-synergy-container {
  position: absolute;
  top: 504px;
  left: 217px;
  font-size: var(--font-size-base);
}
.frame-child7 {
  position: absolute;
  top: 642px;
  left: 217px;
  border-radius: var(--br-21xl);
  background: linear-gradient(90deg, #8176af, #c0b7e8);
  width: 214px;
  height: 48px;
}
.lets-get-started {
  position: absolute;
  top: 659px;
  left: 254px;
  color: #334530;
}
.frame-child8,
.outline-arrow-small-right {
  position: absolute;
  top: 616px;
  left: 376px;
  width: 166px;
  height: 100px;
}
.frame-child8 {
  top: 856px;
  left: 180px;
  border-radius: 90px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(58, 52, 86, 0.95),
    #211e2e
  );
  box-shadow: 0 4px 4px rgba(192, 183, 232, 0.01);
  width: 1272px;
  height: 167px;
}
.contact-us1,
.social-media {
  position: absolute;
  top: 907px;
  left: 424px;
  font-size: var(--font-size-5xl);
}
.contact-us1 {
  top: 901px;
  left: 794px;
}
.send-us-a,
.yashmengwal1gmailcom {
  position: absolute;
  top: 933px;
  left: 1169px;
  font-size: var(--font-size-sm);
}
.send-us-a {
  top: 901px;
  left: 1167px;
  font-size: var(--font-size-5xl);
}
.outline-mail,
.outline-phone-call {
  position: absolute;
  top: 897px;
  left: 1079px;
  width: 65px;
  height: 65px;
  overflow: hidden;
}
.outline-phone-call {
  top: 903px;
  left: 706px;
  width: 59px;
  height: 59px;
}
.frame-child10,
.frame-child9 {
  position: absolute;
  top: 873px;
  left: 658.5px;
  max-width: 100%;
  overflow: hidden;
  height: 116.5px;
}
.frame-child10 {
  top: 875px;
  left: 1029px;
}
.icon {
  position: absolute;
  top: 201px;
  left: 797px;
  width: 798px;
  height: 634px;
  object-fit: cover;
}
.lilac-cat-pet-shops-logo-1-r-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 435px;
  height: 361px;
  object-fit: cover;
  mix-blend-mode: lighten;
}
.handy-print- {
  position: absolute;
  top: 936px;
  left: 424px;
  font-size: var(--font-size-xl);
  mix-blend-mode: linear-dodge;
}
.frame-div,
.instagram-icon {
  position: absolute;
  overflow: hidden;
}
.instagram-icon {
  height: 5.12%;
  width: 3.52%;
  top: 88.76%;
  right: 76.16%;
  bottom: 6.12%;
  left: 20.31%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.frame-div {
  top: 159px;
  left: 468px;
  width: 100px;
  height: 100px;
}
.div1 {
  position: absolute;
  top: 933px;
  left: 809px;
  font-size: var(--font-size-xl);
  mix-blend-mode: linear-dodge;
}
.frame,
.frame1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1595px;
  height: 1023px;
  overflow: hidden;
}
.frame {
  top: -57px;
  left: -78px;
  width: 1596px;
  font-size: var(--font-size-xs);
}
.frame-child11,
.frame-child12 {
  position: absolute;
  top: 217.3px;
  left: 0;
  width: 1449px;
  height: 256.7px;
}
.frame-child12 {
  top: 502.8px;
  left: 2px;
  width: 1445px;
  height: 211.8px;
}
.introduction,
.to-handy-prints {
  position: absolute;
  top: 0;
  left: 0;
}
.to-handy-prints {
  top: 54px;
  font-weight: 300;
}
.frame4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 337px;
  height: 98px;
  overflow: hidden;
}
.about1,
.us {
  position: absolute;
  top: 245px;
  left: 641px;
}
.us {
  left: 795px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.95);
}
.fostering-an-environment {
  margin: 0;
}
.in-a-world-container {
  position: absolute;
  top: 0;
  left: 593px;
  font-size: var(--font-size-base);
}
.mask-group-icon {
  position: absolute;
  top: 195px;
  left: 0;
  width: 524px;
  height: 557px;
  object-fit: contain;
}
.frame-child13 {
  position: absolute;
  top: 636px;
  left: 642px;
  border-radius: var(--br-21xl);
  background: linear-gradient(90deg, #8176af, #c0b7e8);
  width: 214px;
  height: 48px;
}
.lets-get-in {
  position: absolute;
  top: 653px;
  left: 681px;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray-100);
}
.component-1-icon {
  position: absolute;
  top: 22px;
  left: 375px;
  width: 228px;
  height: 100px;
}
.in-a-world-container1 {
  position: absolute;
  top: 301px;
  left: 534px;
  font-size: 18px;
  display: inline-block;
  width: 867px;
  height: 171px;
}
.frame5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1331px;
  height: 752px;
  overflow: hidden;
}
.about-section,
.frame2,
.frame3 {
  position: absolute;
  top: 0;
  left: 99.5px;
  width: 1282px;
  height: 752px;
}
.frame2,
.frame3 {
  left: 47.5px;
  width: 1500.5px;
  overflow: hidden;
}
.frame2 {
  top: 1051px;
  left: -54px;
  width: 1548px;
}
.in-a-world-container2 {
  position: absolute;
  top: 0;
  left: 470px;
}
.component-2-icon {
  position: absolute;
  top: 52px;
  left: 238px;
  width: 228px;
  height: 100px;
}
.with-us {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
}
.frame9 {
  top: 48px;
  left: 18px;
  width: 212px;
  height: 44px;
}
.frame6,
.frame7,
.frame8,
.frame9 {
  position: absolute;
  overflow: hidden;
}
.frame8 {
  top: 54px;
  left: 0;
  width: 230px;
  height: 92px;
  font-size: var(--font-size-17xl);
}
.frame6,
.frame7 {
  top: 0;
  left: 35px;
  width: 1329px;
  height: 168px;
}
.frame6 {
  top: 1862px;
  left: 38px;
  width: 1364px;
  font-size: 19px;
}
.frame-child14,
.frame-child15 {
  position: absolute;
  top: 44px;
  left: 0;
  width: 1442px;
  height: 814px;
}
.frame-child15 {
  top: 0;
  border-radius: var(--br-21xl);
  background: radial-gradient(50% 50%at 50% 50%, #433c60, #211e2e);
  width: 310px;
  height: 511px;
}
.ellipse-div {
  position: absolute;
  top: 23px;
  left: 46px;
  border-radius: 50%;
  background-color: var(--color-gray-200);
  width: 219px;
  height: 219px;
}
.mask-group-icon1 {
  position: absolute;
  top: 37.4px;
  left: 59.6px;
  width: 190.9px;
  height: 190.9px;
  object-fit: contain;
}
.lightning-fast-turnaround {
  position: absolute;
  top: 284px;
  left: 46.1px;
  display: inline-block;
  font-weight: 300;
  width: 238.4px;
  height: 20.9px;
  transform: rotate(0.36deg);
  transform-origin: 0 0;
}
.frame-child16 {
  position: absolute;
  top: 309.5px;
  left: 78.5px;
  max-height: 100%;
  width: 154px;
}
.say-goodbye-to {
  position: absolute;
  top: 319px;
  left: 25px;
  font-size: var(--font-size-smi);
  display: inline-block;
  width: 285px;
  height: 100px;
}
.frame-child17,
.frame-child18 {
  position: absolute;
  border-radius: var(--br-21xl);
}
.frame-child17 {
  top: 423px;
  left: 78px;
  background: linear-gradient(90deg, #8176af, #c0b7e8);
  width: 154px;
  height: 48px;
}
.frame-child18 {
  top: 0;
  left: 321px;
  background: radial-gradient(50% 50%at 50% 50%, #433c60, #211e2e);
  width: 310px;
  height: 511px;
}
.frame-child19 {
  position: absolute;
  top: 23px;
  left: 367px;
  border-radius: 50%;
  background-color: var(--color-gray-200);
  width: 219px;
  height: 219px;
}
.mask-group-icon2 {
  position: absolute;
  top: 38px;
  left: 385px;
  width: 190.9px;
  height: 190.9px;
  object-fit: contain;
}
.frame-child20 {
  position: absolute;
  top: 309.5px;
  left: 399.5px;
  max-height: 100%;
  width: 154px;
}
.frame-child21,
.frame-child22 {
  position: absolute;
  border-radius: var(--br-21xl);
}
.frame-child21 {
  top: 423px;
  left: 399px;
  background: linear-gradient(90deg, #8176af, #c0b7e8);
  width: 154px;
  height: 48px;
}
.frame-child22 {
  top: 0;
  left: 641px;
  background: radial-gradient(50% 50%at 50% 50%, #433c60, #211e2e);
  width: 310px;
  height: 511px;
}
.frame-child23 {
  position: absolute;
  top: 23px;
  left: 687px;
  border-radius: 50%;
  background-color: var(--color-gray-200);
  width: 219px;
  height: 219px;
}
.mask-group-icon3 {
  position: absolute;
  top: 37.4px;
  left: 700.6px;
  width: 190.9px;
  height: 190.9px;
  object-fit: cover;
}
.unrivaled-quality {
  position: absolute;
  top: 278px;
  left: 726px;
  font-weight: 300;
}
.frame-child24 {
  position: absolute;
  top: 309.5px;
  left: 719.5px;
  max-height: 100%;
  width: 154px;
}
.frame-child25 {
  position: absolute;
  top: 423px;
  left: 719px;
  border-radius: var(--br-21xl);
  background: linear-gradient(90deg, #8176af, #c0b7e8);
  width: 154px;
  height: 48px;
}
.read-more {
  position: absolute;
  top: 439px;
  left: 758px;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray-100);
}
.frame-child26 {
  position: absolute;
  top: 0;
  left: 962px;
  border-radius: var(--br-21xl);
  background: radial-gradient(50% 50%at 50% 50%, #433c60, #211e2e);
  width: 310px;
  height: 511px;
}
.frame-child27 {
  position: absolute;
  top: 23px;
  left: 1008px;
  border-radius: 50%;
  background-color: var(--color-gray-200);
  width: 219px;
  height: 219px;
}
.mask-group-icon4 {
  position: absolute;
  top: 37.4px;
  left: 1021.6px;
  width: 190.9px;
  height: 190.9px;
  object-fit: cover;
}
.frame-child28 {
  position: absolute;
  top: 309.5px;
  left: 1040.5px;
  max-height: 100%;
  width: 154px;
}
.elevate-your-assignments-container {
  position: absolute;
  top: 317px;
  left: 987px;
  font-size: var(--font-size-xs);
}
.frame-child29 {
  position: absolute;
  top: 423px;
  left: 1040px;
  border-radius: var(--br-21xl);
  background: linear-gradient(90deg, #8176af, #c0b7e8);
  width: 154px;
  height: 48px;
}
.budget-friendly-solutions {
  position: absolute;
  top: 285px;
  left: 375.1px;
  display: inline-block;
  font-weight: 300;
  width: 238.4px;
  height: 20.9px;
  transform: rotate(0.36deg);
  transform-origin: 0 0;
}
.our-team-of,
.we-understand-the {
  position: absolute;
  top: 319px;
  left: 351px;
  font-size: var(--font-size-smi);
  display: inline-block;
  width: 285px;
  height: 100px;
}
.our-team-of {
  top: 318px;
  left: 674px;
}
.printing-services-beyond {
  position: absolute;
  top: 286px;
  left: 976px;
  font-weight: 300;
}
.read-more1,
.read-more2 {
  position: absolute;
  top: 439px;
  left: 102px;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray-100);
}
.read-more2 {
  top: 436px;
  left: 1079px;
}
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 82px;
  width: 1272px;
  height: 511px;
  font-size: var(--font-size-base);
}
.mask-group-icon5 {
  position: absolute;
  top: 528px;
  left: 29px;
  width: 1278px;
  height: 303px;
  object-fit: contain;
}
.at-the-moment,
.serving-locations-names {
  position: absolute;
  top: 624px;
  left: 371px;
}
.at-the-moment {
  top: 756px;
  left: 170px;
  font-weight: 300;
}
.group-icon {
  position: absolute;
  top: 791px;
  left: 608px;
  width: 100px;
  height: 100px;
}
.read-more3 {
  position: absolute;
  top: 442px;
  left: 519px;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray-100);
}
.frame12 {
  position: absolute;
  top: 0;
  left: 87px;
  width: 1442px;
  height: 891px;
  overflow: hidden;
}
.how-we-build,
.with-handy-prints {
  position: absolute;
  top: 6px;
  left: 235px;
}
.with-handy-prints {
  top: 65px;
  font-weight: 300;
}
.component-3-icon,
.frame13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 228px;
  height: 100px;
}
.frame13 {
  top: 895px;
  left: 380px;
  width: 641px;
  height: 109px;
  overflow: hidden;
}
.frame-child30 {
  position: absolute;
  top: 1006px;
  left: 81px;
  width: 1449px;
  height: 163px;
}
.frame-child31,
.frame-child32 {
  position: absolute;
  top: 2506px;
  left: 92.5px;
  width: 1437px;
  height: 264px;
}
.frame-child32 {
  top: 2227px;
  left: 94.5px;
  width: 1435px;
  height: 363px;
}
.frame-child33,
.frame-child34 {
  position: absolute;
  border-radius: 50%;
}
.frame-child33 {
  top: 546px;
  left: 157px;
  background-color: var(--color-gray-100);
  width: 198px;
  height: 198px;
}
.frame-child34 {
  top: 565px;
  left: 177px;
  background: linear-gradient(251.27deg, #c0b7e8, #8176af);
  width: 159px;
  height: 159px;
}
.frame-child35 {
  top: 546px;
  left: 470px;
  background-color: var(--color-gray-100);
  width: 198px;
  height: 198px;
}
.frame-child35,
.frame-child36,
.frame-child37 {
  position: absolute;
  border-radius: 50%;
}
.frame-child36 {
  top: 565px;
  left: 490px;
  background: linear-gradient(251.27deg, #c0b7e8, #8176af);
  width: 159px;
  height: 159px;
}
.frame-child37 {
  top: 546px;
  left: 797px;
  background-color: var(--color-gray-100);
  width: 198px;
  height: 198px;
}
.frame-child38 {
  top: 565px;
  left: 817px;
  background: linear-gradient(251.27deg, #c0b7e8, #8176af);
  width: 159px;
  height: 159px;
}
.frame-child38,
.frame-child39,
.frame-child40 {
  position: absolute;
  border-radius: 50%;
}
.frame-child39 {
  top: 546px;
  left: 1118px;
  background-color: var(--color-gray-100);
  width: 198px;
  height: 198px;
}
.frame-child40 {
  top: 565px;
  left: 1138px;
  background: linear-gradient(251.27deg, #c0b7e8, #8176af);
  width: 159px;
  height: 159px;
}
.b,
.b1,
.b2,
.b3 {
  position: absolute;
  top: 606px;
  left: 221px;
  color: var(--color-darkslategray-100);
}
.b1,
.b2,
.b3 {
  left: 527px;
}
.b2,
.b3 {
  left: 854px;
}
.b3 {
  left: 1174px;
}
.outline-arrow-small-right1 {
  position: absolute;
  top: 751px;
  left: 114px;
  width: 67px;
  height: 67px;
}
.submission-of-data-container {
  position: absolute;
  top: 769px;
  left: 177px;
  font-size: var(--font-size-5xl);
}
.outline-arrow-small-right2 {
  position: absolute;
  top: 751px;
  left: 453px;
  width: 67px;
  height: 67px;
}
.instant-working {
  position: absolute;
  top: 769px;
  left: 516px;
  font-size: var(--font-size-5xl);
}
.outline-arrow-small-right3 {
  position: absolute;
  top: 751px;
  left: 777px;
  width: 67px;
  height: 67px;
}
.days-waitime {
  position: absolute;
  top: 769px;
  left: 840px;
  font-size: var(--font-size-5xl);
}
.outline-arrow-small-right4 {
  position: absolute;
  top: 751px;
  left: 1104px;
  width: 67px;
  height: 67px;
}
.out-for-delivery-container {
  position: absolute;
  top: 769px;
  left: 1167px;
  font-size: var(--font-size-5xl);
}
.div-user-select-none,
.div-user-select-none1 {
  position: absolute;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  mix-blend-mode: luminosity;
}
.div-user-select-none {
  top: 1565px;
  left: 553px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(2, 132, 199, 0.65) 50%,
    transparent
  );
  width: 646px;
  height: 1px;
}
.div-user-select-none1 {
  top: 1368px;
  left: 488px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(199, 199, 199, 0.05),
    transparent 70%
  );
  width: 774px;
  height: 389px;
}
.vector-icon1 {
  position: absolute;
  top: 1687px;
  left: 0;
  width: 1955px;
  height: 542px;
}
.span-absolute,
.span-absolute1 {
  position: absolute;
  mix-blend-mode: normal;
}
.span-absolute {
  top: 0;
  left: 0;
  border-radius: var(--br-9980xl);
  width: 137.9px;
  height: 38px;
  overflow: hidden;
}
.span-absolute1 {
  top: 36px;
  left: 17px;
  background: linear-gradient(
    90deg,
    rgba(34, 211, 238, 0),
    rgba(34, 211, 238, 0.9) 50%,
    rgba(34, 211, 238, 0)
  );
  width: 101.9px;
  height: 1px;
}
.join-us {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
}
.div-relative,
.frame15,
.frame16 {
  position: absolute;
  overflow: hidden;
}
.frame16 {
  top: -2.5px;
  left: 16px;
  width: 74px;
  height: 41px;
}
.div-relative,
.frame15 {
  width: 135.9px;
}
.div-relative {
  top: 0;
  left: 0;
  border-radius: var(--br-9980xl);
  background-color: #09090b;
  box-shadow: 0 0 0 transparent, 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 0#fff;
  height: 36px;
  mix-blend-mode: normal;
}
.frame15 {
  top: 1px;
  left: 1px;
  height: 37px;
}
.button-group,
.the-first-tool {
  position: absolute;
  font-family: var(--font-inter);
}
.button-group {
  top: 1902px;
  left: 646px;
  border-radius: var(--br-9980xl);
  width: 129px;
  height: 38px;
  mix-blend-mode: normal;
  font-size: 20.9px;
  color: var(--color-darkgray-100);
}
.the-first-tool {
  top: 1807px;
  left: 523px;
  font-size: 17.9px;
  line-height: 28px;
  color: rgba(161, 161, 170, 0.8);
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  width: 461px;
}
.subscribe-to-our {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.get-a-summary {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 22px;
}
.div2,
.paragraph {
  width: 444px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.paragraph {
  height: 44px;
  padding: 0 46.59375px 8903.59375px 0;
  font-size: var(--font-size-mini-9);
  color: var(--color-gray-500);
}
.div2 {
  position: absolute;
  top: 1528px;
  left: 261px;
  height: 139px;
  padding: 0 0 8847.59375px;
  gap: 10px;
  font-size: var(--font-size-base-9);
  font-family: var(--font-inter);
}
.by-submitting-your {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 18px;
}
.span,
.subscribe {
  position: absolute;
  display: flex;
}
.span {
  top: 85px;
  left: 0;
  width: 444px;
  height: 54px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 8958.59375px;
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.subscribe {
  top: 12px;
  left: 16px;
  letter-spacing: 0.2px;
  line-height: 20px;
  font-weight: 500;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 140.7px;
  height: 20px;
}
.input-submit-submit-qst6- {
  position: absolute;
  top: 0;
  left: 298.3px;
  border-radius: var(--br-5xs);
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 142.7px;
  height: 44px;
  opacity: 0.9;
  mix-blend-mode: normal;
}
.yashmengwalgmailcom {
  position: absolute;
  top: 13px;
  left: 16px;
  letter-spacing: 0.2px;
  line-height: 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 277.3px;
  height: 20px;
}
.input-input-input-trg8n {
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: #120e19;
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 279.3px;
  height: 46px;
  mix-blend-mode: normal;
  color: rgba(255, 255, 255, 0.5);
}
.frame17 {
  position: absolute;
  top: 7px;
  left: 3px;
  width: 441px;
  height: 48px;
  overflow: hidden;
  font-size: var(--font-size-sm);
  color: #000;
}
.form-subscribeform-newsletter {
  position: absolute;
  top: 1528px;
  left: 753px;
  width: 444px;
  height: 139px;
  mix-blend-mode: normal;
  font-size: var(--font-size-xs-8);
  color: var(--color-gray-300);
  font-family: var(--font-inter);
}
.polygon-1-68-icon,
.polygon-1-69-icon {
  position: absolute;
  top: 0;
  left: 856px;
  border-radius: var(--br-6xl);
  width: 950.7px;
  height: 1269.6px;
  object-fit: contain;
  opacity: 0;
}
.polygon-1-68-icon {
  top: 18.9px;
  left: 862.9px;
  width: 893.3px;
  height: 1232.5px;
  opacity: 0.01;
}
.polygon-1-67-icon {
  top: 39.4px;
  left: 870.5px;
  width: 834.4px;
  height: 1192.2px;
  object-fit: contain;
  opacity: 0.03;
}
.polygon-1-65-icon,
.polygon-1-66-icon,
.polygon-1-67-icon {
  position: absolute;
  border-radius: var(--br-6xl);
}
.polygon-1-66-icon {
  top: 61.4px;
  left: 878.7px;
  width: 774.3px;
  height: 1149px;
  object-fit: contain;
  opacity: 0.04;
}
.polygon-1-65-icon {
  top: 84.7px;
  left: 887.5px;
  width: 713px;
  height: 1103px;
  opacity: 0.06;
}
.polygon-1-62-icon,
.polygon-1-63-icon,
.polygon-1-64-icon {
  position: absolute;
  top: 72.3px;
  left: 839.6px;
  border-radius: var(--br-6xl);
  width: 765.2px;
  height: 1128.6px;
  object-fit: contain;
  opacity: 0.07;
}
.polygon-1-62-icon,
.polygon-1-63-icon {
  top: 61.6px;
  left: 793.2px;
  width: 814.3px;
  height: 1150.8px;
  opacity: 0.09;
}
.polygon-1-62-icon {
  top: 52.6px;
  left: 748.4px;
  width: 860.2px;
  height: 1169.5px;
  opacity: 0.1;
}
.polygon-1-58-icon,
.polygon-1-59-icon,
.polygon-1-60-icon,
.polygon-1-61-icon {
  position: absolute;
  top: 45.3px;
  left: 705.3px;
  border-radius: var(--br-6xl);
  width: 902.8px;
  height: 1184.7px;
  object-fit: contain;
  opacity: 0.12;
}
.polygon-1-58-icon,
.polygon-1-59-icon,
.polygon-1-60-icon {
  top: 39.8px;
  left: 663.9px;
  width: 941.9px;
  height: 1196.5px;
  opacity: 0.13;
}
.polygon-1-58-icon,
.polygon-1-59-icon {
  top: 36px;
  left: 624.2px;
  width: 977.6px;
  height: 1204.9px;
  opacity: 0.14;
}
.polygon-1-58-icon {
  top: 33.8px;
  left: 584.3px;
  width: 1009.7px;
  height: 1209.9px;
  opacity: 0.16;
}
.polygon-1-54-icon,
.polygon-1-55-icon,
.polygon-1-56-icon,
.polygon-1-57-icon {
  position: absolute;
  top: 33.3px;
  left: 550.2px;
  border-radius: var(--br-6xl);
  width: 1038.2px;
  height: 1211.5px;
  object-fit: contain;
  opacity: 0.17;
}
.polygon-1-54-icon,
.polygon-1-55-icon,
.polygon-1-56-icon {
  top: 34.5px;
  left: 515.9px;
  width: 1063.1px;
  height: 1209.9px;
  opacity: 0.19;
}
.polygon-1-54-icon,
.polygon-1-55-icon {
  top: 37.3px;
  left: 483.5px;
  width: 1084.3px;
  height: 1205.1px;
  opacity: 0.2;
}
.polygon-1-54-icon {
  top: 41.6px;
  left: 452.8px;
  width: 1101.9px;
  height: 1197.2px;
  opacity: 0.22;
}
.polygon-1-49-icon,
.polygon-1-50-icon,
.polygon-1-52-icon,
.polygon-1-53-icon {
  position: absolute;
  top: 47.5px;
  left: 424.1px;
  border-radius: var(--br-6xl);
  width: 1115.8px;
  height: 1186.1px;
  object-fit: contain;
  opacity: 0.23;
}
.polygon-1-49-icon,
.polygon-1-50-icon,
.polygon-1-52-icon {
  top: 59.5px;
  left: 402.3px;
  width: 1114px;
  height: 1162.3px;
  opacity: 0.25;
}
.polygon-1-49-icon,
.polygon-1-50-icon {
  top: 73.8px;
  left: 348.6px;
  width: 1135.6px;
  height: 1135.6px;
  opacity: 0.28;
}
.polygon-1-49-icon {
  top: 89.2px;
  left: 264.4px;
  width: 1089.5px;
  height: 1070px;
  opacity: 0.29;
}
.polygon-1-45-icon,
.polygon-1-46-icon,
.polygon-1-47-icon,
.polygon-1-48-icon {
  position: absolute;
  top: 469.2px;
  left: 299.3px;
  border-radius: var(--br-6xl);
  width: 1131px;
  height: 1088.4px;
  object-fit: contain;
  opacity: 0.3;
}
.polygon-1-45-icon,
.polygon-1-46-icon,
.polygon-1-47-icon {
  top: 530px;
  left: 185.6px;
  width: 1077.1px;
  height: 1021.2px;
  opacity: 0.32;
}
.polygon-1-45-icon,
.polygon-1-46-icon {
  top: 127.3px;
  left: 272.8px;
  width: 1112.6px;
  height: 1031.5px;
  opacity: 0.33;
}
.polygon-1-45-icon {
  top: 143.6px;
  left: 258px;
  width: 1098.5px;
  height: 999.7px;
  opacity: 0.35;
}
.div3,
.frame-icon {
  position: absolute;
  overflow: hidden;
}
.div3 {
  top: -80px;
  left: -80px;
  background: linear-gradient(0deg, rgba(5, 1, 13, 0.6), rgba(5, 1, 13, 0.6)),
    linear-gradient(101.54deg, #7cefff 12.48%, #397ee4 40.34%, #1b0536 87.81%);
  filter: blur(48px);
  width: 714px;
  height: 411.3px;
  mix-blend-mode: normal;
}
.frame-icon {
  top: 0;
  left: 0;
  width: 458px;
  height: 26.4px;
}
.wed-love-to {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 22.5px;
}
.handy-prints {
  font-size: 15.1px;
  color: var(--color-white);
}
.paragraph1 {
  position: absolute;
  top: 87.8px;
  left: 0;
  width: 458px;
  height: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 8625.59375px;
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.stay-up-to {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  font-weight: 600;
}
.frame18,
.frame19 {
  position: absolute;
  width: 458px;
  overflow: hidden;
}
.frame19 {
  top: 53.8px;
  left: 0;
  height: 24px;
  font-size: var(--font-size-base-9);
  color: var(--color-white);
}
.frame18 {
  top: 48px;
  left: 48px;
  height: 155.3px;
}
.link-socialfooter-twitter-ft {
  top: 1172px;
  left: 279px;
  border-radius: var(--br-xs);
  width: 554px;
  height: 251.3px;
  mix-blend-mode: normal;
  font-size: var(--font-size-mini-9);
  color: var(--color-gray-500);
  font-family: var(--font-inter);
}
.div4,
.frame-icon1,
.link-socialfooter-twitter-ft {
  position: absolute;
  overflow: hidden;
}
.div4 {
  top: -80px;
  left: -80px;
  background: linear-gradient(0deg, rgba(5, 1, 13, 0.6), rgba(5, 1, 13, 0.6)),
    linear-gradient(101.54deg, #fd9eff 12.48%, #9e1f3e 40.34%, #270511 87.81%);
  filter: blur(48px);
  width: 714px;
  height: 411.3px;
  mix-blend-mode: normal;
}
.frame-icon1 {
  top: 0;
  left: 0;
  width: 160px;
  height: 32px;
}
.frame21,
.paragraph2 {
  position: absolute;
  height: 45px;
}
.paragraph2 {
  top: 0;
  left: 128px;
  width: 458px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 5.46875px 8627.8125px 0;
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.frame21 {
  top: 90px;
  left: 0;
  width: 586px;
  overflow: hidden;
}
.help-shape-the {
  position: absolute;
  top: 0;
  left: 128px;
  line-height: 24px;
  font-weight: 600;
}
.frame22 {
  position: absolute;
  top: 56px;
  left: 0;
  width: 309px;
  height: 24px;
  overflow: hidden;
  font-size: var(--font-size-base-9);
  color: var(--color-white);
}
.frame20,
.link-socialfooter-slack-cb2m {
  position: absolute;
  top: 48px;
  left: -80px;
  width: 586px;
  height: 135px;
  overflow: hidden;
}
.link-socialfooter-slack-cb2m {
  top: 1172px;
  left: 867px;
  border-radius: var(--br-xs);
  width: 554px;
  height: 251.3px;
  mix-blend-mode: normal;
  font-size: var(--font-size-mini-9);
  color: var(--color-gray-500);
  font-family: var(--font-inter);
}
.take-your-academics {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.8px;
  line-height: 40px;
  background: linear-gradient(transparent, transparent),
    linear-gradient(135deg, #f4f4f5, #52525b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.frame23 {
  position: absolute;
  top: 39.5px;
  left: 143.1px;
  width: 356.1px;
  height: 40px;
  overflow: hidden;
}
.see-where-work {
  position: absolute;
  top: -0.5px;
  left: 23.2px;
  letter-spacing: -0.8px;
  line-height: 40px;
  background: linear-gradient(transparent, transparent),
    linear-gradient(135deg, #f4f4f5, #52525b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.h2-bg-gradient-to-br {
  position: absolute;
  top: 1717px;
  left: 448px;
  width: 540px;
  height: 80px;
  mix-blend-mode: normal;
  font-size: var(--font-size-12xl-9);
  font-family: var(--font-inter);
}
.frame-child41 {
  position: absolute;
  top: 2089px;
  left: 1354px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.frame10,
.frame11,
.frame14 {
  position: absolute;
  width: 1955px;
  overflow: hidden;
}
.frame14 {
  top: 516px;
  left: 0;
  height: 2770px;
  font-size: var(--font-size-45xl);
}
.frame10,
.frame11 {
  top: 0;
  left: 335px;
  height: 3286px;
}
.frame10 {
  top: 2143px;
  left: -425px;
  width: 2290px;
}
.hydra-desktop-to-edit {
  width: 100%;
  position: relative;
  background-color: #302c42;
  height: 4897px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
